.main-title {
  font-size: 3rem;
  color: #1a237e;
  line-height: 5rem;
}

.entry-name {
  font-size: 1.9rem;
  color: #1097d2;
  line-height: 4rem;
}

.entry-description {
  color: #1a237e;
  line-height: 2rem;
}